*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color:whitesmoke;
    position: relative;
    padding-bottom: 80px;
    min-height: 100vh;
}