@import "./base.css" ;

.titulo-principal{
    margin: 5px;
    color: teal;
    width:min-content;
}
.main-index{
    display: flex;
    justify-content: space-between;
    
}
.filtersContainer{
    display: flex;
    flex-direction: column;
    width: 15vw;
    background-color: snow;
    height: 100%;
    padding: 15px;
    font-size: 19px;
}
.filtersContainer .alphaLi{
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 20px;
}
.filterOptions .option{
    background-color:transparent;
    color: grey;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    
}
.filterOptions .option:hover{
    color: teal;
}
#product-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: snow;
    width: 80vw;
    gap: 5px;

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: teal;
    padding: 10px;
    border: 1px solid teal;
    border-radius: 10px;
}
.imagen{
    height: 250px;
    width: 235px;
}
.add {
    border: none;
    outline: 0;
    padding: 10px;
    background-color: teal;
    text-align: center;
    cursor: pointer;
    width: 50%;
    border-radius: 6px;
}
.add a{
    color: snow;
    font-size: 16px;
}
.add a:hover{
    opacity: 0.6;
}
.detalle{
    border: none;
    outline: 0;
    padding: 10px;
    background-color:steelblue;
    text-align: center;
    cursor: pointer;
    width: 50%;
    border-radius: 6px;
    margin-top: 1px;
}
.detalle a{
    color: snow;
    font-size: 16px;
}
.detalle a:hover{
    opacity: 0.6;
}
}
.btn-reset{
    margin-top: 10px;

#Reset {
    color: teal;
    font-size: 18px;
}
#Reset:hover{
    color: crimson;
}
}

.cart-Btn{
    color: snow;
    position: fixed;
    line-height: 55px;
    width: 55px;
    height: 55px;
    bottom: 45px;
    right: 45px;
    background-color: teal;
    font-size: 21px;
    border-radius: 50px;
    z-index: 100;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    text-align: center;
}
.cart-Btn:hover{
    color: teal;
    background-color: snow;
}
footer{
    background-color:slategray;
    height: 75px;
    margin-top: 10px;
}
.link-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-conteiner .links-foot{
    font-size: 25px;
    padding: 3px;
}
.firma{
    position: absolute;
    left: 0;
    opacity: 0.5;
}
/*carrito*/
.btn-carrito-inicio{
    display: flex;
    justify-content: center;

    .btnInicio{
        background-color: teal;
        width: min-content;
        padding: 12px;
        margin: 10px;
        font-size: 19px;
        border-radius: 15px;
        color: snow;
    }
    .btnInicio.active{
        background-color: snow;
        color: teal;
    }
}
.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Carrito-vacio{
    margin-top: 5%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cart-Product{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: snow;
    color: grey;
    padding: 7px;
    width: 80vw;

.cart-Product-img{
    width: 70px;
}

.cart-Product span{
    font-size: 15px;
}
.cart-Product-Delete{
    color: black;
}
.cart-Product-Delete:hover{
    color: crimson;
}
}
.cart-action{
    display: flex;
    
}
.cart-action-vaciar{
    border: 0;
    background-color: snow  ;
    padding: 5px;
    border-radius: 1rem;
    color: gray;
    text-transform: uppercase;
    cursor: pointer;
    margin: 50px;
}
.cart-action-vaciar:hover{
    color: crimson;
    opacity: 0.6;
}
.cart-action-total{
    display: flex;
    background-color: snow ;
    padding: 5px;
    align-items: center;
    flex-direction: column;
}

.cart-action-buy{
    border: 0;
    background-color: snow  ;
    padding: 5px;
    border-radius: 1rem;
    color: gray;
    text-transform: uppercase;
    cursor: pointer;
}
.cart-action-buy:hover{
    color: darkgreen;
    opacity: 0.5;
}
.Producto-comprado{
    position: absolute;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 50%;
}

.disabled{
    display: none;
}
/*detalle*/
.container-Producto-Detalle{
    display: flex;
    justify-content: center;
    margin-top: 5%;

    .card-Producto{
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-Detalle-Img{
        width: 350px;
    }
    .agregar-Producto{
        border: none;
        outline: 0;
        padding: 10px;
        background-color: teal;
        text-align: center;
        cursor: pointer;
        border-radius: 6px;
        width: 40%;
    }
    .agregar-Producto a{
        color: snow;
        font-size: 16px;
    }
}
.descripcion-Producto{
    display: flex;
    flex-direction: column;

    .titulo{
        font-size: 22px;
        margin-bottom: 6px;
        color: teal;
    }
    .detalles{
        font-size: 17px;
        padding: 10px;
        color: grey;
    }
    .precio{
        font-size: 19px;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.774);
    }
    }
}

/*mediasQ*/


@media screen and (max-width: 700px){

    .main-index{
        display: flex;

    }
    .filtersContainer{
        display: flex;
        flex-wrap: wrap;
    }
    #product-container{
        display: flex;
        justify-content: center;

        .imagen{
            width: auto;
            height: 170px;
        }
    }
    .cart-Btn{
            right: 20px;
            bottom: 20px;
        }
/*cart*/
.cart-Product{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;

    .cart-Product-img{
        width: auto;
        height: 50px;
    }
}
}

@media screen and (max-width: 500px){
    .cart-Product{
        display: flex;
        flex-direction: column;
        text-align: center;
}
    .container-Producto-Detalle{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}